@use "sass:map";
@use "sass:math";
@use "../grid_base/variables";
@use "breakpoints";
@use "grid-mixin";




// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `$grid-columns`.


@mixin make-grid-columns($columns: variables.$grid-columns, $gutter: variables.$grid-gutter-width, $breakpoints: variables.$grid-breakpoints) {

    // Common properties for all breakpoints
    %grid-column {
        position: relative;
        width: 100%;
        min-height: 1px; // Prevent columns from collapsing when empty
        padding-right: math.div($gutter, 2);
        padding-left: math.div($gutter, 2);
    }

    @each $breakpoint in map.keys($breakpoints) {
        $infix: breakpoints.breakpoint-infix($breakpoint, $breakpoints);

        // Allow columns to stretch full width below their breakpoints
        @for $i from 1 through $columns {
            .grid#{$infix}-#{$i} {
                @extend %grid-column;
            }
        }

        .grid#{$infix},
        .grid#{$infix}-2m3,
        .grid#{$infix}-auto {
            @extend %grid-column;
        }


        @include breakpoints.media-breakpoint-up($breakpoint, $breakpoints) {


            // Provide basic `.grid-{bp}` classes for equal-width flexbox columns
            .grid#{$infix} {
                flex-basis: 0;
                flex-grow: 1;
                max-width: 100%;
            }

            .grid#{$infix}-auto {
                flex: 0 0 auto;
                width: auto;
                max-width: none; // Reset earlier grid tiers
            }

            @for $i from 1 through $columns {
                .grid#{$infix}-#{$i} {
                    @include grid-mixin.make-col($i, $columns);
                }
            }

            .grid#{$infix}-2m3 {
                @include grid-mixin.make-col-5(1, 5);
            }

            .order#{$infix}-first {
                order: -1;
            }

            .order#{$infix}-last {
                order: $columns + 1;
            }

            @for $i from 0 through $columns {
                .order#{$infix}-#{$i} {
                    order: $i;
                }
            }

            // `$columns - 1` because offsetting by the width of an entire row isn't possible
            @for $i from 0 through ($columns - 1) {
                @if not ($infix =="" and $i ==0) {

                    // Avoid emitting useless .offset-0
                    .offset#{$infix}-#{$i} {
                        @include grid-mixin.make-col-offset($i, $columns);
                    }
                }
            }



            .offset#{$infix}-2m3 {
                @include grid-mixin.make-col-offset5(1, 5);
            }

        }

    }

}