@use 'partials/logo';
@use 'partials/menu';
@use 'partials/sociallinks';
@use 'partials/contact-info';
@use 'partials/search';
@use 'partials/login';
@use 'partials/header-button';
@use 'partials/news-ticker';
@use 'partials/popupModal';
@use 'partials/offcanvas';
@use 'partials/header-toggle-menu';
@use 'partials/footer-social';
@use 'partials/post-pages';
@use 'partials/banner';
@use 'partials/woocommerce';
@use 'partials/edd';

@use 'templates/blog-template';