@use "../../base/mixins";
@use "../../base/variables";

/*---------------------------------
	Blog Template Post Thumbnail
----------------------------------*/
.post-thumbnail {
    margin: 0;
    font-size: 0;
    line-height: normal;
    overflow: hidden;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

    }

    a {
        display: block;
    }
}


/*--------------------
	Blog Template 1
---------------------*/
.blog-template1 {
    article {
        &.post {

            .post-thumbnail {
                margin-bottom: 25px;

            }

            &:not(.sticky) {
                .entry-media {
                    position: relative;

                    .post-thumbnail {
                        +.cat-links {
                            position: absolute;
                            bottom: -10px;
                            left: 10px;
                            z-index: 1;

                        }
                    }
                }
            }

            .entry-media {
                .cat-links {
                    background:var(#{variables.$varPrefix}-white-color);
                    padding: 6px 12px;
                    font-size: 14px;
                }

                +.entry-title {
                    margin-top: 20px;
                }
            }
        }
    }
}

/*--------------------
	Blog Template 2
---------------------*/
.blog-template2 {
    .post {
        .entry-media {
            position: relative;

            .post-thumbnail {
                margin-top: 15px;

                +.entry-meta {
                    &.primary-meta {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: auto;

                    }
                }
            }
        }

        &.sticky {
            .primary-meta {
                &.entry-meta {

                    a,
                    span {
                        color: var(#{variables.$varPrefix}-gray-750);
                    }
                }
            }
        }
    }

    .primary-meta {
        &.entry-meta {
            background: var(#{variables.$varPrefix}-white-color);
            padding: 15px 20px;
        }
    }

}

/*--------------------
	Blog Template 3
---------------------*/
.blog-template3 {
    .post {
        position: relative;
        height: 400px;
        background: var(#{variables.$varPrefix}-gray-175);
        padding-bottom: 0 !important;
        border: medium none;
        border-radius: 4px;
        overflow: hidden;

        .entry-media,
        .post-thumbnail {
            min-height: 100%;
            height: 100%;

            a {

                min-height: 100%;
                height: 100%;
            }

            img {
                min-height: 100%;
            }
        }

        .entry-content-overlay {
            position: absolute;
            top: 0;
            left: 0;
            padding: 30px 30px 25px;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;

            .entry-header {
                margin-bottom: auto;
            }

            .entry-title,
            .entry-title a {
                line-height: normal;
            }

            .entry-meta {

                span,
                .cat-links {
                    display: block;
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                    line-height: normal;

                    &:not(:last-child) {
                        &:before {
                            display: none;
                        }
                    }
                }
            }

        }
    }
}

/*--------------------
	Blog Template 4
---------------------*/
.blog-template4 {
    .post {
        .entry-media {
            position: relative;

            .post-thumbnail {
                +.cat-links {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 1;
                    margin-top: 0;

                }
            }
        }

        .cat-links {
            a {
                padding: 2px 10px;
                background: var(#{variables.$varPrefix}-gray-175);
                display: inline-block;
                font-size: 13px;
                border-radius: 3px;

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }

        }

        .primary-meta {
            margin-top: 20px;
        }
    }
}

/*--------------------
	Blog Template 5
---------------------*/
.blog-template5 {
    .post {
        .entry-media {
            position: relative;

            .post-thumbnail {
                +.cat-links {
                    position: absolute;
                    bottom: 20px;
                    left: 15px;
                    z-index: 1;
                    padding: 4px 12px;
                    background: var(#{variables.$varPrefix}-gray-175);

                    .post-categories {
                        margin-top: 0;

                    }
                }
            }
        }

    }
}


/*--------------------
	Post Template 1
---------------------*/
.post-template1 {
    article {
        &.post {

            .entry-header {
                .entry-title {
                    margin-bottom: 0;
                }
            }

            .entry-meta {
                a {
                    font-weight: bold;
                }

                span {
                    &:not(:last-child) {
                        margin-right: 10px;
                        padding-right: 10px;

                        &:before {
                            height: 13px;
                            transform: translateY(-50%) rotate(20deg);
                        }
                    }
                }
            }

            .secondary-meta {
                display: flex;
                align-items: center;

                .entry-meta-item-box {
                    &:first-child {
                        margin-right: auto;
                    }
                }
            }

        }

    }
}

/*--------------------
	Post Template 2
---------------------*/
.post-template2 {

    article {
        &.post {

            .entry-media {
                position: relative;

                .post-thumbnail {

                    font-size: 0;
                    line-height: normal;

                    +.entry-meta {
                        position: absolute;
                        bottom: 0;
                        padding: 10px;
                        background: rgba(0, 0, 0, .5);
                        margin: 0;
                        left: 0;
                    }
                }
            }

            .entry-header {
                .entry-title {
                    margin-bottom: 0;
                }
            }
        }

    }
}

/*--------------------
	Post Template 3
---------------------*/
.post-template3 {
    .post {
        .entry-media {
            position: relative;
            margin-bottom: 15px;

            .post-thumbnail {
                +.cat-links {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 1;

                    .post-categories {
                        margin-top: 0;

                    }
                }
            }
        }

        .cat-links {
            a {
                padding: 4px 12px;
                background: var(#{variables.$varPrefix}-gray-175);
                display: inline-block;
                font-size: 13px;
                border-radius: 3px;

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }

            .post-categories {
                margin: 15px 0 0 0;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-bottom: 0;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    a {
                        padding: 4px 12px;
                        background: var(#{variables.$varPrefix}-gray-175);
                        display: inline-block;
                        font-size: 13px;
                        border-radius: 3px;
                    }
                }
            }
        }

        .entry-footer {
            margin-top: 15px;
        }
    }
}

/*--------------------
	Post Template 4
---------------------*/
.post-template4 {
    .post {
        .entry-meta {
            span {
                &:not(:last-child) {
                    &:before {
                        width: 4px;
                        height: 4px;
                        border-radius: 50%;
                        right: -2px;
                    }
                }
            }
        }

        .entry-header {
            text-align: center;
            margin-bottom: 40px;

            .entry-meta {
                margin-bottom: 10px;
                margin-top: 0;
            }

            .cat-links {
                .post-categories {
                    margin: 15px 0;
                }
            }
        }


        .cat-links {
            .post-categories {
                margin: 15px 0 0 0;

                li {
                    list-style: none;
                    display: inline-block;
                    margin-bottom: 0;

                    &:not(:last-child) {
                        margin-right: 5px;
                    }

                    a {
                        padding: 4px 12px;
                        background: var(#{variables.$varPrefix}-gray-175);
                        display: inline-block;
                        font-size: 13px;
                        border-radius: 3px;
                    }
                }
            }
        }


        .author {
            a {
                font-weight: bold;
            }
        }
    }
}

/*--------------------
	Post Template 5
---------------------*/
.post-template5 {
    .post-thumbnail {
        margin-bottom: 30px;
    }
}