@use "../../base/mixins";

/*------------------------
	Contact Info
------------------------*/
.cwp-contact-info {
    width: 100%;

    &-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

    }

    &-item {
        display: inline-block;
        line-height: 0;

        &:first-child {
            border-left: medium none;
            margin-left: 0;
            padding-left: 0;
        }

        &:last-child {
            border-right: medium none;
            margin-right: 0;
            padding-right: 0;
        }
    }

    &-icon {
        float: left;
        font-size: 0;
        line-height: inherit;
    }

    &-content {
        padding-left: 10px;
        float: left;
        line-height: 0;

    }

    &-title {
        margin-bottom: 0;
        margin-top: -3px;
    }

    &-text {}

}